/* UNIVERSALS */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  margin: 0px;
  color: #4A4A4A;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

@font-face {
  font-family: 'NewMedia';
  src: url('../assets/NewMedia.ttf') format('truetype');
}



/* TYPOGRAPHY */
h1, h2, h3 {
  font-family: 'open sans';
}
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.5rem;
}
h3{
  font-size: 1.5rem;
}
p {
  font-size: 1.0rem;
}
small {
  font-size: 0.75rem;
}
ul {
  list-style-type: square;
  padding-left: 18px;
}
ul ul {
  list-style-type: circle;
  padding-left: 18px;
}

/* GRID SYSTEM */

.row:after {
  content: '';
  clear: both;
  display: block;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.col {
  float: left;
  /*min-height: 100px;*/
  position: relative;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666666666666%;
  width: calc(100% * 11/12);
}
.col-10 {
  width: 83.33333333333334%;
  width: calc(100% * 10/12);
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666666666666%;
  width: calc(100% * 8/12);
}
.col-7 {
  width: 58.333333333333336%;
  width: calc(100% * 7/12);
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666666666667%;
  width: calc(100% * 5/12);
}
.col-4 {
  width: 33.33333333333333%;
  width: calc(100% * 4/12);
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666666666666664%;
  width: calc(100%*2/12);
}
.col-1 {
  width: 8.333333333333332%;
  width: calc(100%*1/12);
}

/* OFFSETS */
.offset-11 {
  margin-left: 91.66666666666666%;
  margin-left: calc(100% * 11/12);
}
.offset-10 {
  margin-left: 83.33333333333334%;
  margin-left: calc(100% * 10/12);
}
.offset-9 {
  margin-left: 75%;
}
.offset-8 {
  margin-left: 66.66666666666666%;
  margin-left: calc(100% * 8/12);
}
.offset-7 {
  margin-left: 58.333333333333336%;
  margin-left: calc(100% * 7/12);
}
.offset-6 {
  margin-left: 50%;
}
.offset-5 {
  margin-left: 41.66666666666667%;
  margin-left: calc(100% * 5/12);
}
.offset-4 {
  margin-left: 33.33333333333333%;
  margin-left: calc(100% * 4/12);
}
.offset-3 {
  margin-left: 25%;
}
.offset-2 {
  margin-left: 16.666666666666664%;
  margin-left: calc(100%*2/12);
}
.offset-1 {
  margin-left: 8.333333333333332%;
  margin-left: calc(100%*1/12);
}


/* Custom Styling*/
header {
  height: 76px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  width: 100%;
}
nav a {
  font-size: 16px;
  line-height: 76px;
  padding-left: 38px;
  text-decoration: none;
  font-family: NewMedia;
  font-weight: bold;
}

nav a:hover {
  color: #8A9BA8;
}

img.logo {
  height: 30px;
  margin: 23px 0px;
  padding-left: 15px;
}

img.hamburger {
  display: none;
}

.banner .heading {
  font-family: NewMedia;
  font-weight: bold;
  font-size: 45px;
  display: block;
  margin-top: 75px;
}

.banner .subheading {
  font-weight: lighter;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 59px;
}

.solutions .solution-heading {
  font-family: NewMedia;
  font-weight: bold;
  font-size: 18px;
  padding-right: 20px;
  padding-left: 10px;
  margin: 0px;
}

.solutions .solution-text {
  font-weight: lighter;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 8px;
}

img.solution {
  width: 100%;
  max-width: 77px;
  max-height: 74px;
  padding-right: 5px;
}

.product-button {
  font-family: NewMedia;
  font-weight: bold;
  font-size: 18px;
  color: #8A9BA8;
  font-size: 18px;
  border: 2px solid #8A9BA8;
  width: 306px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.product-button:hover {
  cursor: pointer;
  color: #4A4A4A;
  border-color: #4A4A4A;
}




/* Phone size */
@media (max-width: 760px) {
  .container {
    width: 100%;
  }
  .sm-col-12 {
    width: 100%;
    margin-left: 0%;
  }
  .sm-col-6 {
    width: 50%;
    margin-left: 0%;
  }
  nav a {
    display: none;
  }
  img.hamburger {
    display: inline-block;
    height: 30px;
    margin-right: 14px;
    margin-top: 24px;
  }
  .banner .heading {
    font-size: 33px;
    margin: 65px 65px 0px 65px;
    padding: 0px;
  }
  .banner .subheading {
    margin: 26px 28px 36px 28px;
  }
  .sm-hide {
    display: none;
  }
  .col-solution {
    padding: 43px 37px;
  }
}


/* iPad size */
@media (max-width: 1200px) and (min-width: 761px) {
  .container {
    width: 90%;
  }
  .md-col-12 {
    width: 100%;
    margin-left: 0%;
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: 33.33333333333333%;
    width: calc(100% * 4/12);
  }
  .md-col-3 {
    width: 25%;
  }
}

/* TEXT POSITIONING*/

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.flex-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
